@model  OMC.Models.UserLogin

<h2>Login here</h2>
@using (Html.BeginForm("Signin", "Login"))
{

    @Html.AntiForgeryToken()
    
    @Html.LabelFor(m => m.Username)
    @Html.TextBoxFor(m => m.Username)
    <br />
    @Html.LabelFor(m => m.Password)
    @Html.PasswordFor(m => m.Password)
    <br />
    @Html.LabelFor(m => m.IPAddress)
    @Html.TextBoxFor(m => m.IPAddress)
    <br />
    @Html.LabelFor(m => m.RoleId)
    @Html.DropDownListFor(m => m.RoleId, new SelectList(Model.RoleList, "Id", "RoleName"), "--please select--")
    <br />
    <button type="submit">Signin</button>
    <br />
    @Html.ActionLink("Patient SignUp", "Index", "SignUp")
    <br/>
    @Html.ActionLink("CSR SignUp", "CSRSignUp", "SignUp")
}



