@using OMC.Models;

@model SignInResponse

@{
    ViewBag.Title = "Login Success";
}

<style>
    table, th, td {
        border: 1px solid black;
    }
</style>

<h2>Login successful</h2>

<b><font color="blue"> Session Id: </font></b> @Model.SessionId
<br />
<b><font color="blue">User Id: </font></b> @Model.UserId
<br />
@{
    if (Model.UserRoles != null)
    {
        <table style="">
            <thead>
                <th>Role Id</th>
                <th>Role Name</th>
                <th>Is Default</th>
                <th>Action</th>
            </thead>

            @foreach (var userRole in Model.UserRoles)
            {
            <tr>
                <td>@userRole.RoleId</td>
                <td>@userRole.RoleName</td>
                <td>@userRole.IsDefault</td>
                <td>
                    @if(userRole.RoleName.ToLower() == "patient")
                    {
                        @Html.ActionLink("Create Consultation", "Index", "Consultation", new { patientId = userRole.UserId }, null)
                        <br/>
                        @Html.ActionLink("View Consultations", "List", "Consultation", new { userId = userRole.UserId, userRole = "patient" }, null)
                    }
                    else if (userRole.RoleName.ToLower() == "doctor")
                    {
                        @Html.ActionLink("View Consultations", "List", "Consultation", new { userId = userRole.UserId, userRole = "doctor"  }, null)
                    }
                </td>
            </tr>
            }
        </table>
    }
}