@model  OMCWebApp.Models.ProfileModel
@{
    ViewBag.Title = "Add Profile";
}

<h2>Add Profile</h2>

@using (Html.BeginForm("InsertUpdateProfile", "SignUp"))
{
    @Html.AntiForgeryToken()
    <table class="createConv">
        <tr>
            <td>
                First Name:
            </td>
            <td>
                @Html.HiddenFor(m => m.ProfileObject.UserId, Model.ProfileObject.UserId)
                @Html.TextBoxFor(m => m.ProfileObject.FirstName)
            </td>
        </tr>
        <tr style="height:20px;"></tr>
        <tr>
            <td>
                Last Name:
            </td>
            <td>
                @Html.TextBoxFor(m => m.ProfileObject.LastName)
            </td>
        </tr>
        <tr style="height:20px;"></tr>
        <tr>
            <td>
                Gender:
            </td>
            <td>
                @Html.DropDownListFor(m => m.ProfileObject.GenderId
                    , new SelectList(Model.Genders, "Id", "GenderName"))
            </td>
        </tr>
        <tr style="height:20px;"></tr>
        <tr>
            <td>
                Relationship:
            </td>
            <td>
                @Html.DropDownListFor(m => m.ProfileObject.RelationshipId
                    , new SelectList(Model.Relationships, "Id", "Description"))
            </td>
        </tr>
        <tr style="height:20px;"></tr>
        <tr>
            <td>
                DOB:
            </td>
            <td>
                @Html.TextBoxFor(m => m.ProfileObject.DOB)
            </td>
        </tr>
        <tr style="height:20px;"></tr>
        <tr>
            <td colspan="2">
                <button type="submit">Create Profile</button>
            </td>
        </tr>

    </table>
}



