@model  OMC.Models.UserSignUp

@{
    ViewBag.Title = "CSRSignUp";
}

<h2>CSRSignUp</h2>
CSR SignUp
@using (Html.BeginForm("SaveSignUpDetails", "SignUp"))
{
    @Html.AntiForgeryToken()
<table>
    <tr>
        <td> @Html.LabelFor(m => m.FirstName)</td>
        <td> @Html.TextBoxFor(m => m.FirstName)</td>
    </tr>
    <tr>
        <td> @Html.LabelFor(m => m.LastName)</td>
        <td> @Html.TextBoxFor(m => m.LastName)</td>
    </tr>
    <tr>
        <td> @Html.LabelFor(m => m.EmailAddress)</td>
        <td> @Html.TextBoxFor(m => m.EmailAddress)</td>
    </tr>
    <tr>
        <td> @Html.LabelFor(m => m.Address)</td>
        <td> @Html.TextBoxFor(m => m.Address)</td>
    </tr>
    <tr>
        <td> @Html.LabelFor(m => m.PhoneNumber)</td>
        <td> @Html.TextBoxFor(m => m.PhoneNumber)</td>
    </tr>
    <tr>
        <td> @Html.LabelFor(m => m.DOB)</td>
        <td> @Html.TextBoxFor(m => m.DOB)</td>
    </tr>
    <tr>
        <td> @Html.LabelFor(m => m.AlternateNo)</td>
        <td> @Html.TextBoxFor(m => m.AlternateNo)</td>
    </tr>
    <tr>
        <td> @Html.LabelFor(m => m.EmergencyContactNo)</td>
        <td> @Html.TextBoxFor(m => m.EmergencyContactNo)</td>
    </tr>
    <tr>
        <td> @Html.LabelFor(m => m.EmergencyContactPerson)</td>
        <td> @Html.TextBoxFor(m => m.EmergencyContactPerson)</td>
    </tr>
    <tr>
        <td> @Html.LabelFor(m => m.DLNumber)</td>
        <td> @Html.TextBoxFor(m => m.DLNumber)</td>
    </tr>
    <tr>
        <td> @Html.LabelFor(m => m.SSN)</td>
        <td> @Html.TextBoxFor(m => m.SSN)</td>
    </tr>
    <tr>
        <td> @Html.LabelFor(m => m.LoggedInUserID)</td>
        <td> @Html.TextBoxFor(m => m.LoggedInUserID, new {@value = "1" })</td>
    </tr>
    <tr>
        <td> @Html.LabelFor(m => m.Password)</td>
        <td> @Html.PasswordFor(m => m.Password)</td>
    </tr>

</table>

    <br />
    <button type="submit">Save</button>
}


