@model  OMCWebApp.Models.ProfileListModel
@{
    ViewBag.Title = "Profile List";
}
<style>
    table, th, td {
        border: 1px solid black;
        align-content: center;
        margin-left: 5px;
        margin-right: 5px;
    }
</style>
<h2>Profile List</h2>

@{
    if (Model.Profiles != null)
    {
        @Html.HiddenFor(m => m.UserId, Model.UserId)
        <table style="">
            <thead>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Date of Birth</th>
                <th>Relationship</th>
                <th>Gender</th>
                <th>Is Default</th>
                <th>Action</th>
            </thead>

            @foreach (var profile in Model.Profiles)
            {
                <tr>
                    <td>
                        @Html.HiddenFor(m => profile.Id, profile.Id)
                        @profile.FirstName
                    </td>
                    <td>@profile.LastName</td>
                    <td>@profile.DOB</td>
                    <td>@profile.Relationship</td>
                    <td>@profile.GenderName</td>
                    @if (profile.IsDefault)
                    {
                        <td>Yes</td>
                    }
                    else
                    {
                        <td>No</td>
                    }                        
                    <td>
                        @Html.ActionLink("Update Profile", "UpdateProfile", "SignUp", new { userId = Model.UserId, profileId = profile.Id }, null)
                    </td>
                </tr>
            }
        </table>
    }
}
