@using System.Web.Http
@using System.Web.Http.Controllers
@using System.Web.Http.Description
@using OMCApi.Areas.HelpPage
@using OMCApi.Areas.HelpPage.Models
@model IGrouping<HttpControllerDescriptor, ApiDescription>

@{
    var controllerDocumentation = ViewBag.DocumentationProvider != null ? 
        ViewBag.DocumentationProvider.GetDocumentation(Model.Key) : 
        null;
}

<h2 id="@Model.Key.ControllerName">@Model.Key.ControllerName</h2>
@if (!String.IsNullOrEmpty(controllerDocumentation))
{
    <p>@controllerDocumentation</p>
}
<table class="help-page-table">
    <thead>
        <tr><th>API</th><th>Description</th><th>Sprint</th><th>JIRA Id</th></tr>
    </thead>
    <tbody>
    @foreach (var api in Model)
    {
        <tr>
            <td class="api-name"><a href="@Url.Action("Api", "Help", new { apiId = api.GetFriendlyId() })">@api.HttpMethod.Method @api.RelativePath</a></td>
            <td class="api-documentation">
                @if (api.Documentation != null)
                {
                    <p>@api.Documentation.Split('~')[0]</p>
                }
                else
                {
                    <p>No documentation available.</p>
                }
            </td>
            <td class="api-sprint">
                @if (api.Documentation != null && api.Documentation.IndexOf("~") != -1)
                {
                    <p>@api.Documentation.Split('~')[1]</p>
                }
                else
                {
                    <p>No sprint specified.</p>
                }
            </td>
            <td class="api-jira">
                @if (api.Documentation != null && api.Documentation.IndexOf("~") != -1)
                {
                    <p>@api.Documentation.Split('~')[2]</p>
                }
                else
                {
                    <p>No JIRA specified.</p>
                }
            </td>
        </tr>
    }
    </tbody>
</table>