@model  OMCWebApp.Models.ConsultationSubjectiveModel
<style>
    table.addresses td,
    table.addresses th {
        border: 1px solid black;
    }

    table.createConv {
        border: 1px solid black;
    }

    .collapsible {
        background-color: #777;
        color: white;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 15px;
    }

        .active, .collapsible:hover {
            background-color: #555;
        }

        .collapsible:after {
            content: '\002B';
            color: white;
            font-weight: bold;
            float: right;
            margin-left: 5px;
        }

    .active:after {
        content: "\2212";
    }

    .content {
        padding: 0 18px;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
        background-color: #f1f1f1;
    }
</style>
<h2>Manage Consultation Subjective</h2>

@using (Html.BeginForm("InsertUpdateConsultationSubjectives", "Consultation", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <table class="createConsAllergy">
        <tr>
            <td>
                Onset:
            </td>
            <td>
                @Html.HiddenFor(m => m.ConsultationSubjectivesObject.Id, Model.ConsultationSubjectivesObject.Id)
                @Html.HiddenFor(m => m.ConsultationSubjectivesObject.AddedBy, Model.ConsultationSubjectivesObject.AddedBy)
                @Html.HiddenFor(m => m.ConsultationSubjectivesObject.ModifiedBy, Model.ConsultationSubjectivesObject.ModifiedBy)
                @Html.HiddenFor(m => m.ConsultationSubjectivesObject.ConsultationId, Model.ConsultationSubjectivesObject.ConsultationId)
                @Html.TextBoxFor(m => m.ConsultationSubjectivesObject.Onset
                , Model.ConsultationSubjectivesObject.Onset)            
            </td>
        </tr>    
        <tr style="height:20px;"></tr>
        <tr>
            <td>
                Duration:
            </td>
            <td>
                @Html.TextBoxFor(m => m.ConsultationSubjectivesObject.Duration
                , Model.ConsultationSubjectivesObject.Duration)                
            </td>
        </tr>  
        <tr style="height:20px;"></tr>
        <tr>
            <td>
                Location:
            </td>
            <td>
                @Html.TextBoxFor(m => m.ConsultationSubjectivesObject.Location
                , Model.ConsultationSubjectivesObject.Location)
            </td>
        </tr>  
        <tr style="height:20px;"></tr>
        <tr>
            <td>
                Character:
            </td>
            <td>
                @Html.TextBoxFor(m => m.ConsultationSubjectivesObject.Character
                , Model.ConsultationSubjectivesObject.Character)
            </td>
        </tr> 
        <tr style="height:20px;"></tr>
        <tr>
            <td>
                Alleviating Factors:
            </td>
            <td>
                @Html.TextBoxFor(m => m.ConsultationSubjectivesObject.AlleviatingFactors
                , Model.ConsultationSubjectivesObject.AlleviatingFactors)
            </td>
        </tr> 
        <tr style="height:20px;"></tr>
        <tr>
            <td>
                Aggravating Factors:
            </td>
            <td>
                @Html.TextBoxFor(m => m.ConsultationSubjectivesObject.AggravatingFactors
                , Model.ConsultationSubjectivesObject.AggravatingFactors)
            </td>
        </tr> 
        <tr style="height:20px;"></tr>
        <tr>
            <td>
                Radiation:
            </td>
            <td>
                @Html.TextBoxFor(m => m.ConsultationSubjectivesObject.Radiation
                , Model.ConsultationSubjectivesObject.Radiation)
            </td>
        </tr> 
        <tr style="height:20px;"></tr>
        <tr>
            <td>
                Temporal Pattern:
            </td>
            <td>
                @Html.TextBoxFor(m => m.ConsultationSubjectivesObject.TemporalPattern
                , Model.ConsultationSubjectivesObject.TemporalPattern)
            </td>
        </tr> 
        <tr style="height:20px;"></tr>
        <tr>
            <td>
                Severity:
            </td>
            <td>
                @Html.TextBoxFor(m => m.ConsultationSubjectivesObject.Severity
                , Model.ConsultationSubjectivesObject.Severity)
            </td>
        </tr> 
        <tr style="height:20px;"></tr>
        <tr>
            <td>
                Chronology:
            </td>
            <td>
                @Html.TextBoxFor(m => m.ConsultationSubjectivesObject.Chronology
                , Model.ConsultationSubjectivesObject.Chronology)
            </td>
        </tr> 
        <tr style="height:20px;"></tr> 
        <tr>
            <td>
                Additional Symptoms:
            </td>
            <td>
                @Html.TextBoxFor(m => m.ConsultationSubjectivesObject.AdditionalSymptoms
                , Model.ConsultationSubjectivesObject.AdditionalSymptoms)
            </td>
        </tr>
        <tr style="height:20px;"></tr>   
        <tr>
            <td>
                Allergies:
            </td>
            <td>
                @Html.TextBoxFor(m => m.ConsultationSubjectivesObject.Allergies
                , Model.ConsultationSubjectivesObject.Allergies)
            </td>
        </tr>
        <tr style="height:20px;"></tr>   
        <tr>
            <td colspan="2">
                <button type="submit">
                    @(Model.ConsultationSubjectivesObject.Id == 0 ? "Create Consultation Subjective" : "Update Consultation Subjective")
                </button>
            </td>
        </tr>
    </table>

    <br />
    <table>
        <tr>
            <td>
                @Html.ActionLink("Create New Subjective Note", "ConsultationSubjectiveNote", "Consultation"
               , new { consultationSubjectiveId = Model.ConsultationSubjectivesObject.Id
               , userId = 1, consultationSubjectiveNoteId = ""}, null)
                <button type="button" class="collapsible">Subjective Notes</button>
                <div class="content">
                    @if (Model.ConsultationSubjectiveNotes != null
                        && Model.ConsultationSubjectiveNotes.Count() != 0)
                    {
                        <table class="addresses">
                            <thead>
                                <th>Notes</th>
                                <th>Doctor Name</th>
                                <th>Timestamp</th>
                                <th>Action</th>
                            </thead>
                            @foreach (var subjectiveNotes in Model.ConsultationSubjectiveNotes)
                            {
                                <tr>
                                    <td>@subjectiveNotes.Notes</td>
                                    <td>@subjectiveNotes.DoctorName</td>
                                    <td>@subjectiveNotes.Timestamp</td>
                                    <td>
                                        @Html.ActionLink("Edit Subjective Notes", "ConsultationSubjectiveNote", "Consultation"
                                        , new
                                        {
                                            consultationSubjectiveId = subjectiveNotes.ConsultationSubjectiveId,
                                            consultationSubjectiveNoteId = subjectiveNotes.Id,
                                            userId = 1
                                        }, null)
                                    </td>
                                </tr>
                            }
                        </table>
                    }
                    else
                    {
                        <p>No awards recorded</p>
                    }
                </div>
            </td>
        </tr>
        <tr style="height:20px;"></tr>
    </table>
}
@section scripts{

    <script type="text/javascript">
        $(document).ready(function () {
            var coll = document.getElementsByClassName("collapsible");
            var i;

            for (i = 0; i < coll.length; i++) {
                coll[i].addEventListener("click", function () {
                    this.classList.toggle("active");
                    var content = this.nextElementSibling;
                    if (content.style.maxHeight) {
                        content.style.maxHeight = null;
                    } else {
                        content.style.maxHeight = content.scrollHeight + "px";
                    }
                });
            }
        });
    </script>

}
