@model  OMCWebApp.Models.ConsultationListModel

<style>
    table, th, td {
        border: 1px solid black;
    }
</style>

<h2>Consultation List</h2>

<table style="">
    <thead>
        <th>User Name</th>
        <th>Profile Name</th>
        <th>Package</th>
        <th>Doctor Name</th>
        <th>Description</th>
        <th>Status</th>
        <th>Timestamp</th>
        <th>Action</th>
    </thead>

    @foreach (var consultation in Model.ConsultationList)
            {
        <tr>
            <td>@consultation.PatientName</td>
            <td>@consultation.ProfileName</td>
            <td>@consultation.PackageName</td>
            <td>@consultation.DoctorName</td>
            <td>@consultation.ConsultationDescription</td>
            <td>@consultation.ConsultationStatus</td>    
            <td>@(consultation.ConsultationCreateDate.HasValue 
                ? consultation.ConsultationCreateDate.Value.ToString("dd-MMM-yyyy hh:mm") 
                : string.Empty)
            </td>     
            <td>
                @Html.ActionLink("View Consultation", "View", "Consultation"
                    , new { userId = Model.UserId, consultationId = consultation.ConsultationId, userRole = Model.UserRole }, null)

                @Html.ActionLink("Subjective", "ConsultationSubjective", "Consultation"
                    , new { userId = Model.UserId, consultationId = consultation.ConsultationId, consultationSubjectiveId = "" }, null)
                
                @Html.ActionLink("Objective", "ConsultationObjective", "Consultation"
                    , new { userId = Model.UserId, consultationId = consultation.ConsultationId, consultationObjectiveId = "" }, null)
                
                @Html.ActionLink("Assesment", "ConsultationAssesment", "Consultation"
                    , new { userId = Model.UserId, consultationId = consultation.ConsultationId, consultationAssesmentId = "" }, null)
                
                @Html.ActionLink("Plan", "ConsultationPlan", "Consultation"
                    , new { userId = Model.UserId, consultationId = consultation.ConsultationId, consultationPlanId = "" }, null)
            </td>
        </tr>
    }
</table>





