@model  OMCWebApp.Models.ConsultationListModel

<style>
    table, th, td {
        border: 1px solid black;
    }
</style>

<h2>Consultation List</h2>

<table style="">
    <thead>
        <th>Patient Name</th>
        <th>Doctor Name</th>
        <th>Description</th>
        <th>Status</th>
        <th>Timestamp</th>
        <th>Action</th>
    </thead>

    @foreach (var consultation in Model.ConsultationList)
            {
        <tr>
            <td>@consultation.PatientName</td>
            <td>@consultation.DoctorName</td>
            <td>@consultation.ConsultationDescription</td>
            <td>@consultation.ConsultationStatus</td>    
            <td>@(consultation.ConsultationCreateDate.HasValue 
                ? consultation.ConsultationCreateDate.Value.ToString("dd-MMM-yyyy hh:mm") 
                : string.Empty)
            </td>     
            <td>
                @Html.ActionLink("View Consultation", "View", "Consultation"
                    , new { userId = Model.UserId, consultationId = consultation.ConsultationId, userRole = Model.UserRole }, null)
            </td>
        </tr>
    }
</table>





